#parentWrapper{
  height: 500px;
  width: 95vw;
  border-style: dotted;
  border-width: 2px;
  border-color: black;
}

#resizable{
  width: 95vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: grey;
}



/* TASK HEADER*/
.taskHeader{
  width: 95vw;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-top: 1px;
  border-right: none;
  border-left: none;
  display: flex;
  align-items: center;
}

/* ROW*/
.task{
  width: 95vw;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-top: 1px;
  border-right: none;
  border-left: none;
  display: flex;
  align-items: center;
}







/* COULMNS*/
.checkBox{
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1%;
}

.taskName{
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 2%;
}

.taskDate{
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
}

.taskPrior{
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
}

.taskCategory{
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
}





.bar
{
	border-style: solid;
	border-width: 1px;
	width: 95vw;
	
}

.label
{
	border-style: solid;
	border-width: 1px;
	width: 95vw;
	padding:0px;
	
}

.date
{
	width:115px;
}

.date2
{
	width:110px;
}